/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  width: 650px;
  height: 520px;
  display: flex;
  justify-content: space-between;
  font-family: "Hanken Grotesk", sans-serif;
  border-radius: 25px;
  box-shadow: 3px 3px 50px 10px hsla(252, 100%, 67%, 0.2);
}

#result {
  text-align: center;
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
  background-color: hsl(241, 81%, 54%);
  padding: 25px 50px 50px 50px;
}

.head {
  margin-bottom: 35px;
  opacity: 0.6;
  font-weight: 500;
}

.avg-rating {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 50px;
}

.rate {
  font-weight: 800;
  font-size: 70px;
  margin: 0;
}

.denom {
  margin: 0;
  opacity: 0.6;
}

.pera h1 {
  font-weight: 600;
}

.pera p {
  font-weight: 500;
  font-size: large;
  opacity: 0.6;
}

.rating-table {
  margin-top: 50px;
}

#summary {
  width: 500px;
  height: 520px;
  font-family: "Hanken Grotesk", sans-serif;
  padding: 25px 20px 25px 20px;
}

.summaryTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 20px;
}

.summaryTable .icon img {
  margin-right: 10px;
}

.summaryTable .icon span {
  margin-top: -10px;
}

.ratingHeader {
  margin-left: -90px;
}

span {
  opacity: 0.6;
}

#reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsla(0, 100%, 67%);
}

#memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsla(39, 100%, 56%);
}

#verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsla(166, 100%, 37%);
}

#visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsla(234, 85%, 45%);
}

.score {
  color: black;
}

.btn {
  padding: 25px 0 50px 0;
}

button {
  background-color: hsl(252, 31%, 35%);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(241, 81%, 54%);
  border: none;
}

/* For mobile-view */

@media screen and (max-width: 375px) {
body{
  display: block;
  margin: 0;
}
#main {
  padding: 0;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Hanken Grotesk", sans-serif;
  box-shadow: 3px 3px 50px 10px hsla(252, 100%, 67%, 0.2);
}

.head {
  margin-bottom: 35px;
  opacity: 0.6;
  font-weight: 500;
  font-size: large;
}

#result {
  text-align: center;
  margin: 0;
  color: hsl(0, 0%, 100%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: hsl(241, 81%, 54%);
  padding: 0;
}

.avg-rating {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  padding: 15px;
}

.rate {
  font-weight: 800;
  font-size: 55px;
  margin: 0;
}

.denom {
  margin: 0;
  opacity: 0.6;
}

.pera h1 {
  font-weight: 600;
  font-size: larger;
}

.pera p {
  font-weight: 500;
  font-size:15px;
  opacity: 0.6;
  padding: 0 50px 25px 50px;
}

#summary {
  width: 327px;
  font-family: "Hanken Grotesk", sans-serif;

}

button {
  background-color: hsl(252, 31%, 35%);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 132px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

}